# First thing to do, make a copy of this notebook under File->Make a Copy with some intelligent naming convention.

---

# Set your observing times here.

## NB: This will be a broader window that you'll actually use. The final output will give you orbit-by-orbit pointing information. So you can use a subset of the orbits that are chosen here.

In [1]:
from datetime import datetime

# Note that tstart and tend should span for at least one day because of the way the scripts are written.
tstart = '2018-07-27T00:00:00'
tend = '2018-07-28T00:00:00'

ttarget = '2018-07-27T20:21:00'
# Turn these into datetime objects

tstart = datetime.strptime(tstart, '%Y-%m-%dT%H:%M:%S')
tend = datetime.strptime(tend, '%Y-%m-%dT%H:%M:%S')
ttarget = datetime.strptime(ttarget,'%Y-%m-%dT%H:%M:%S')

---
# Step 1, get the nominal RA/Dec Position for the Moon at the nominal target time

## We use this to determine what the occultation times are.

In [2]:
from skyfield.api import Loader
from astropy.time import Time
import astropy.units as u

load = Loader('../../data')

ts = load.timescale()
planets = load('de436.bsp')

astro_time = Time(ttarget)
t = ts.from_astropy(astro_time)
moon, earth = planets['moon'], planets['earth']
astrometric = earth.at(t).observe(moon)
ra, dec, distance = astrometric.radec()

In [3]:
tend.timetuple().tm_yday

209

In [4]:
occstring = "./occ {0:0.4f} {1:0.4f} Latest_TLE.txt {2}:{3:03d}:00:00:00 {4}:{5:03d}::00:00 lunar_{3}_{5}.occ".format(
      ra.to(u.deg).value, dec.to(u.deg).value,
      tstart.timetuple().tm_year, tstart.timetuple().tm_yday,    
      tend.timetuple().tm_year, tend.timetuple().tm_yday)


outfile = '../orbit_engine/lunar_{0}to{1}.sh'.format(tstart.timetuple().tm_yday, tend.timetuple().tm_yday)
print(outfile)

f = open(outfile, 'w')
f.write(occstring)
f.close()


import os
import stat

st = os.stat(outfile)
os.chmod(outfile, st.st_mode | stat.S_IEXEC)

../orbit_engine/lunar_208to209.sh

---
# Step 2, get the PA position 

## We use this to figure out how to offset the FoV for the Moon

In [5]:

pastring = "./att2pa {0} {1} {2} -5 > lunar_{3}_{4}.pa".format(
    ttarget.strftime('%Y:%j:%H:%M:%S'),
    ra.to(u.deg).value, dec.to(u.deg).value,
    tstart.timetuple().tm_yday, tend.timetuple().tm_yday)
outfile = '../orbit_engine/lunar_{0}to{1}_pa.sh'.format(tstart.timetuple().tm_yday, tend.timetuple().tm_yday)
print(outfile)

f = open(outfile, 'w')
f.write(pastring)
f.close()


import os
import stat

st = os.stat(outfile)
os.chmod(outfile, st.st_mode | stat.S_IEXEC)

../orbit_engine/lunar_208to209_pa.sh

---
# Step 2: Go run the code that figures out the unocculted periods for the RA/Dec and the date range reported above.

This works on lif. There are example shell scripts in the ../orbit_engine directory that use the version that Karl already compiled for the nuops users.

First, get the latest TLE archive:

`./get_latest_TLE.sh`

Run the script that was produced to produce the occultation files:

`./lunar_225to226.sh`

...and the one to get the PA position. **Remember that this is the MPS PA angle, so the SKY PA = 180 - MPA_PA. However, the code in nsutar_planning.io knows how to fix this and will return SKY PA values.**

`./lunar_225to226_pa.sh`

Check in the resulting output files in to github if you're working remotely.

`git add lunar_225to226.occ lunar_225to226.pa`

`git commit -m "Files for days 225-226"`

`git push`

Then pull this down to your local environment and continue below.

# Step 3: Initialize your libraries and parse the resulting occultation file:

In [6]:
from nustar_planning import io
occfile= "../orbit_engine/lunar_{0}_{1}.occ".format(tstart.timetuple().tm_yday,tend.timetuple().tm_yday )
pafile= "../orbit_engine/lunar_{0}_{1}.pa".format(tstart.timetuple().tm_yday,tend.timetuple().tm_yday )

orbits = io.parse_occ(occfile)
sky_pa = io.parse_pa(pafile)


# NB: The "head" command here only shows the first couple of rows. Do a "print(orbits)" to see them all.
orbits.head()
print('SKY PA angle: ', sky_pa)
orbits

SKY PA angle:  46.860378999999995

                visible             occulted
0   2018-07-27 00:46:58  2018-07-27 01:43:28
1   2018-07-27 02:23:37  2018-07-27 03:20:07
2   2018-07-27 04:00:16  2018-07-27 04:56:46
3   2018-07-27 05:36:55  2018-07-27 06:33:25
4   2018-07-27 07:13:34  2018-07-27 08:10:04
5   2018-07-27 08:50:13  2018-07-27 09:46:43
6   2018-07-27 10:26:52  2018-07-27 11:23:22
7   2018-07-27 12:03:31  2018-07-27 13:00:01
8   2018-07-27 13:40:10  2018-07-27 14:36:40
9   2018-07-27 15:16:49  2018-07-27 16:13:19
10  2018-07-27 16:53:28  2018-07-27 17:49:58
11  2018-07-27 18:30:06  2018-07-27 19:26:37
12  2018-07-27 20:06:45  2018-07-27 21:03:16
13  2018-07-27 21:43:24  2018-07-27 22:39:55
14  2018-07-27 23:20:03  2018-07-28 00:16:34
15  2018-07-28 00:56:42  2018-07-28 01:53:13
16  2018-07-28 02:33:21  2018-07-28 03:29:52
17  2018-07-28 04:10:00  2018-07-28 05:06:31
18  2018-07-28 05:46:39  2018-07-28 06:43:10
19  2018-07-28 07:23:18  2018-07-28 08:19:49
20  2018-07-28 08:59:57  2018-07-28 09:56:28
21  2018-07-28 10:36:36  2018-07-28 11:33:07

# Use SkyField to get the location of the Moon for each orbit:

This puts the output into the provided text file. This shows the *aim* time that was used to determine the pointing. You should slew while the source is occulted.

In [7]:
# Sanity check. Use this block to figure out which orbit(s) in the occultation file you want to use

import nustar_planning.lunar_planning as lunar_planning
sub = orbits.iloc[10:15].reset_index()
sub

sky_pa = 321
#lunar_planning.position(sub, steps = 5, parallax_correction=True, load_path ='../../data')

In [8]:
# PA == sky_pa from above, Rmoon = 940 arcseconds (default), 6 arcminutes maximum drift (default) and
# no minimum dwell period (default)

# Note, this takes a few minutes to run!

outfile = 'lunar_{0}_{1}_lunar_eclipse_v2.txt'.format(tstart.timetuple().tm_yday,tend.timetuple().tm_yday )

lunar_planning.position_shift(sub, parallax_correction=True, pa = sky_pa*u.deg, dt = 10*u.s, min_shift=6*u.arcmin,
                              outfile=outfile,pad_time=0*u.s, load_path ='../../data', Rmoon=882*u.arcsec)
print("Output is stored in: {}".format(outfile))

[#################################] 100% deltat.data
[#################################] 100% deltat.preds

Output is stored in: lunar_208_209_lunar_eclipse_v2.txt

In [9]:
import numpy as np
from astropy.coordinates import SkyCoord
outfile = 'lunar_{0}_{1}_lunar_eclipse_v2.txt'.format(tstart.timetuple().tm_yday,tend.timetuple().tm_yday )



f = open(outfile, 'r')
times = []
sky_pos = []
for line in f:
    if line.startswith('A'):
        continue



    fields = line.split()
    this_time = datetime.strptime(fields[0], '%Y:%j:%H:%M:%S')

    times = np.append(times, this_time)
    
    this_skypos = SkyCoord(ra=fields[1], dec=fields[2], unit ='deg')
    sky_pos = np.append(sky_pos, this_skypos)
    
f.close()

good_exp = 0.
all_exp = 0.
for ind in range(len(times)):
    if ind == 0:
        continue
    dt = (times[ind] - times[ind-1]).total_seconds()
    all_exp += dt
#    if (dt < 200):
#        continue
    dr = sky_pos[ind].separation(sky_pos[ind-1]).arcmin
    print(dt, dr)
    good_exp += dt

print()
print(good_exp, all_exp)

200.0 6.166270833373711
240.0 6.134737597676903
220.0 6.162442338832218
180.0 6.062479688717179
150.0 6.382914668685108
140.0 6.47167442573139
130.0 6.348397258331052
120.0 6.05241306948874
110.0 6.191204269691855
110.0 6.2457056127475505
110.0 6.215511576949638
110.0 6.100682942132042
110.0 6.428458095985127
120.0 6.098812322858591
120.0 6.1391792277521215
130.0 6.378181849571256
150.0 6.247473153041888
170.0 6.128608096204527
200.0 6.184023567794574
230.0 6.172672177369418
2748.0 139.8832091563525
200.0 6.17377342952204
240.0 6.038503611871067
220.0 6.054722603708159
180.0 6.399687744710357
160.0 6.355842886894901
140.0 6.451398283576061
130.0 6.334782750997089
120.0 6.043681990950164
110.0 6.18757100273223
110.0 6.24585721286467
110.0 6.219881667664236
110.0 6.109081602140036
110.0 6.44160242567206
120.0 6.116546560498789
120.0 6.162191550682177
130.0 6.005598054836298
140.0 6.342419471585881
170.0 6.218626390010517
200.0 6.205553561664964
230.0 6.0971746509509845
2749.0 139.86030164341804
190.0 6.215527319186515
240.0 6.194597290585354
230.0 6.316387846505039
190.0 6.369359281096886
160.0 6.333293253216626
140.0 6.435110543213514
130.0 6.323737178087771
120.0 6.036788222740511
110.0 6.183666638325058
110.0 6.246549614403205
110.0 6.223851752551733
110.0 6.115598038618827
110.0 6.453127398422151
120.0 6.130739968892371
120.0 6.180283623374761
130.0 6.028040207266844
140.0 6.024546136445846
160.0 6.019286838869433
190.0 6.250816353561897
230.0 6.293270640240702
2759.0 139.9155919473183
190.0 6.237326358205326
240.0 6.10752433935545
230.0 6.208480583692352
190.0 6.278288187880617
160.0 6.26223331790614
140.0 6.3804847705368655
130.0 6.285213735048809
120.0 6.01201992652223
110.0 6.170283693022174
110.0 6.244410166519937
110.0 6.23275093395803
110.0 6.1358521136742645
110.0 6.485968064827184
120.0 6.175120078936216
120.0 6.23818067422921
130.0 6.098040030925901
140.0 6.108243551681841
160.0 6.103466932548714
190.0 6.0261012808338865
220.0 6.1874413716475365
2769.0 140.10785396867746
190.0 6.026002991122232
230.0 6.263322077921977
240.0 6.100193456996254
190.0 6.186402025503427
160.0 6.190435971115679
140.0 6.3238788034017395
130.0 6.244921586763659
120.0 6.540215926153354
120.0 6.16642564786651
110.0 6.244108864443054
110.0 6.236367056856312
110.0 6.142026807588783
110.0 6.497186039784135
120.0 6.188895216056486
120.0 6.255659424960801
130.0 6.1195651343933255
140.0 6.133293539051376
160.0 6.127529668713801
190.0 6.037462422921525
220.0 6.169647008022822

26235.0 26235.0